.Graphics {
    display: flex;
    flex-direction: row;
    align-content: center;
}
.DatePicker {
    padding-bottom: 5em;
    padding-top: 5em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.Home {
    display: flex;
    flex-direction: column;
}
