.Name {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    font-variant-caps: petite-caps;
    letter-spacing: 0.3em;
    color: #282c34;
}
.Table {
    display: flex;
    flex-direction: column;
    margin: 0.4em;
    width: 30%;
}
.Zones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.ModalBody {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 600px) {
    .Zones{
        display: flex;
        flex-direction: column;
    }
}
