.header {
    background: #282c34;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 34px;
    padding: 10px;
    font-family: Roboto;
    font-variant-caps: all-small-caps;
}

