.App {
  display: flex;
  flex-direction: row;
  margin-bottom: 5em;
}
.Menu-nav  {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #282c34;
  background: white;
  padding-left: 0;
  padding-right: 2em;
  margin-left: 0;
}
.Menu-nav  :hover {
  text-decoration: none;
  color: black;
}
.Menu-nav  :visited {
  text-decoration: none;
  color: black;
}
.Menu-nav  :link {
  text-decoration: none;
  color: black;
}
.Menu-nav  :active {
  text-decoration: none;
  color: black;
}
.Menu-nav li {
  display: flex;
  list-style-type: none;
  padding: 1em;
}
.Link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Link div {
  padding-left: 1em;
}
.Accordion {
  border-style: none;
  box-shadow: none !important;
}
.Details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sub {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

